<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Lab2</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <!-- <li><a href="user-add">{{"Navbar.Add" | translate}}</a></li>
      <li><a href="users">{{"Navbar.List" | translate}}</a></li> -->
      <!-- <li><a href="badges.html">{{"Navbar.Delete" | translate}}</a></li>
      <li><a href="collapsible.html">{{"Navbar.Edit" | translate}}</a></li> -->
      <li><a href="#!" id="SpainLang"><img src="assets/img/spain.png">{{"Navbar.Spanish" | translate}}</a></li>
      <li><a href="#!" id="EnglishLang"><img src="assets/img/usa.png">{{"Navbar.English" | translate}}</a></li>
    </ul>

    <!-- <a class='dropdown-trigger right' href='#' data-target='dropdown1'>{{"Navbar.Languages" | translate}}</a>
    <ul id='dropdown1' class='dropdown-content mydrop'>
    </ul> -->
  </div>
</nav>