<div class="card">
    <div class="card-content">
        <p class="card-title">{{"AddUser.Title" | translate}}</p>
   
            <form (ngSubmit)="saveHero(formHero)" #formHero="ngForm" class="col s6">
              <div class="form-group">
                <label for="name">{{"AddUser.Name" | translate}}</label>
                <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" id="name" pattern="[a-zA-Z ]*" required>
                <div *ngIf="name.touched && !name.valid">
                  <div *ngIf="name.errors.required">{{"AddUser.Name" | translate}} {{"AddUser.isRequired" | translate}}</div>
                  <div *ngIf="name.errors.pattern">{{"AddUser.Name" | translate}} {{"AddUser.isInvalid" | translate}}</div>
    
                </div>
              </div>
        
              <div class="form-group">
                <label for="alterEgo">{{"AddUser.AlterEgo" | translate}}</label>
                <input type="text" class="form-control" name="alterEgo" #alterEgo="ngModel" [(ngModel)]="user.alterEgo" id="alterEgo" pattern="[a-zA-Z ]*" required>
                <div *ngIf="alterEgo.touched && !alterEgo.valid">
                  <div *ngIf="alterEgo.errors.required">{{"AddUser.AlterEgo" | translate}} {{"AddUser.isRequired" | translate}}</div>
                  <div *ngIf="alterEgo.errors.pattern">{{"AddUser.AlterEgo" | translate}} {{"AddUser.isInvalid" | translate}}</div>
    
                </div>
              </div>
    
              <div class="form-group">
                <label for="alterEgo">{{"AddUser.Email" | translate}}</label>
                <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" id="email" pattern="^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$" required>
                <div *ngIf="email.touched && !email.valid">
                  <div *ngIf="email.errors.required">{{"AddUser.Email" | translate}} {{"AddUser.isRequired" | translate}}</div>
                  <div *ngIf="email.errors.email">{{"AddUser.emailValid" | translate}}</div>
                  <div *ngIf="email.errors.pattern">{{"AddUser.Email" | translate}} {{"AddUser.isInvalid" | translate}}</div>

                </div>
              </div>
    
              <div class="form-group">
                <label for="alterEgo">{{"AddUser.Phone" | translate}}</label>
                <input type="text" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="user.phone" id="phone" pattern="^[+]*[(]{0,1}[0-9]{1,8}[)]{0,1}[-\s\./0-9]*$" required>
                <div *ngIf="phone.touched && !phone.valid"><!-- pattern="/^[+]*[(]{0,1}[0-9]{1,8}[)]{0,1}[-\s\./0-9]*$/"-->
                  <div *ngIf="phone.errors.required">{{"AddUser.Phone" | translate}} {{"AddUser.isRequired" | translate}}</div>
                  <div *ngIf="phone.errors.pattern">{{"AddUser.Phone" | translate}} {{"AddUser.isInvalid" | translate}}</div>
    
                </div>
              </div>
    
              <div class="form-group">
                <label for="alterEgo">{{"AddUser.ListPos" | translate}}</label>
                <input type="number" class="form-control" name="listPos" #listPos="ngModel" [(ngModel)]="user.listPos" id="listPos" min="0" required>
                <div *ngIf="listPos.touched && !listPos.valid">
                  <div *ngIf="listPos.errors.required">{{"AddUser.ListPos" | translate}} {{"AddUser.isRequired" | translate}}</div>
    
                </div>
              </div>
    
              <div class="form-group">
                <label for="alterEgo">{{"AddUser.Birthday" | translate}}</label>
                <input type="date" class="form-control" name="birthday" #birthday="ngModel" [(ngModel)]="user.birthday" id="birthday" [max]="minDate" required>
                <div *ngIf="birthday.touched && !birthday.valid">
                  <div *ngIf="birthday.errors.required">{{"AddUser.Birthday" | translate}} {{"AddUser.isRequired" | translate}}</div>
                  <!-- <div *ngIf="birthday.errors.pattern">{{"AddUser.Birthday" | translate}} {{"AddUser.isInvalid" | translate}}</div> -->
    
                </div>
              </div>
    
              <div class="form-group">
                <label for="alterEgo">{{"AddUser.BattleCry" | translate}}</label>
                <input type="text" class="form-control" name="heroPhrase" #heroPhrase="ngModel" [(ngModel)]="user.heroPhrase" id="heroPhrase" minlength="4" required>
                <div *ngIf="heroPhrase.touched && !heroPhrase.valid">
                  <div *ngIf="heroPhrase.errors.required">{{"AddUser.BattleCry" | translate}} {{"AddUser.isRequired" | translate}}</div>
                  
                </div>
              </div>
              <br><br>
              <button type="submit" class="btn btn-success">{{"AddUser.Submit" | translate}}</button>
              <div *ngIf="!formHero.valid && formHero.submitted">{{"AddUser.form" | translate}} {{"AddUser.isInvalid" | translate}}</div>
        
            </form>
        
    </div>
</div>